{% extends "app/layout.html" %}

{% block content %}

<div class="jumbotron">
    <h1>FAQ</h1>
    <h4>Как мне добавить команду ?</h4>
    <p class="lead">Вы можите добавить команду <a href="/addteam">здесь</a>. Для этого вам надо зайти через SteamID.</p>
    <h4>Как долго моё объявление будет на сайте ?</h4>
    <p class="lead">Не продлённые объявления автоматически удаляются через 1 месяц. Вы можите продлить объявление в
        разделе <a href="/myposts">Мои объявления</a>.</p>
    <h4>Безопасно ли входить через SteamID ?</h4>
    <p class="lead">Да это абсолютно безопасно. Авторизация проходит полностью на сайте Steam и вы можете быть уверены
        что ваш аккаунт не украдут.</p>
</div>
{% endblock %}