{% extends "app/layout.html" %}

{% block content %}
{% load i18n %}

<div class="jumbotron">
    {% blocktrans %}
        <h1>FAQ</h1>
        <h4>Как мне добавить команду ?</h4>
        <p class="lead">Вы можете добавить команду <a href="/addteam">здесь</a>.
            Для этого вам надо просто заполнить форму.</p>
        <h4>Как писать объявление?</h4>
        <p class="lead">Это вы должны решить сами. Если совсем нет идей то посмотрите уже имеющиеся.<br />
            В основном, старайтесь писать таким образом, чтобы Вас было приятно читать,
            избегайте транслита, обильного количества мата, и прочей нецензурщины.<br />
            Обратите Ваше внимание: Вы оставляете свои контактные данные в открытом виде,
            эти данные индексируются поисковыми роботами. Если Вы не согласны на индексацию
            вашей заявки, не добавляйте её на сайт.</p>
        <h4>Как долго моё объявление будет на сайте ?</h4>
        <p class="lead">Непродлённые объявления автоматически удаляются через, как минимум, 1 месяц.
            После этого срока вы можете подать объявление заново.</p>
    {% endblocktrans %}
</div>
{% endblock %}
