{% extends "app/layout.html" %}

{% block content %}
{% load i18n %}

<div class="jumbotron">
    <h1>TeamFnd</h1>
    <p class="lead">{% trans "Добро пожаловать на TeamFnd - сервис где вы можете найти команду в CS:GO" %}</p>
    <p>
        <a href="/players" class="btn btn-primary btn-large">{% trans "Смотреть объявления игроков CS:GO" %} &raquo;</a>
        <p> </p>
        <a href="/teams" class="btn btn-primary btn-large">{% trans "Смотреть команды CS:GO" %} &raquo;</a>
    <p> </p>
    <p class="lead">{% trans "Также вы можете добавить объявление. Для этого просто заполните форму:" %}</p><p> </p>
            <a href="/addplayer" class="btn btn-primary btn-large">{% trans "Подать объявление о поиске команды" %} &raquo;</a>
        <p> </p>
        <a href="/addteam" class="btn btn-primary btn-large">{% trans "Подать объявление о поиске игроков" %} &raquo;</a>
    </p>
    <!--<p class="lead">{ blocktrans %}Сейчас на сайте представленно { count }} объявлений.{ endblocktrans %}</p>-->
</div>
<div class="row">
</div>
{% endblock %}
