{% extends "app/layout.html" %}

{% block content %}

<div class="jumbotron">
    <h1>TeamFind</h1>
    <p class="lead">Добро пожаловать на TeamFind - сервис где вы можете найти команду<!-- или рекрутировать игроков--> в CS:GO</p>
    <p>
        <a href="teams" class="btn btn-primary btn-large">Смотреть команды CS:GO &raquo;</a>
        <!--<a href="players" class="btn btn-primary btn-large">Игроки &raquo;</a>-->
    </p>
    <p class="lead">Сейчас на сайте представленно {{ count }} команд.</p>
</div>
<div class="row">
</div>
{% endblock %}
