<!DOCTYPE html>
{% load i18n %}
{% get_current_language as LANGUAGE_CODE %}
<html lang="{{ LANGUAGE_CODE }}">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="{% trans "Сайт для поиска команды csgo на котором вы можете найти себе команду в cs:go. TeamFind" %}" />
    <meta name="keywords" content="поиск, команды, csgo, cs go, cs:go, найти, команду, Team, Find, TeamFind" />
    <title>{{ title }} - TeamFnd</title>
    {% load staticfiles %}
    <link href="https://maxcdn.bootstrapcdn.com/bootswatch/3.3.7/cyborg/bootstrap.min.css" rel="stylesheet" integrity="sha384-D9XILkoivXN+bcvB2kSOowkIvIcBbNdoDQvfBNsxYAIieZbx8/SI4NeUvrRGCpDi" crossorigin="anonymous">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/modernizr/2.6.2/modernizr.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/respond.js/1.4.2/respond.min.js"></script>
    <!--
    <link rel="stylesheet" type="text/css" href="{ static 'app/content/bootstrap.material.min.css' %}" />
    <script src="{ static 'app/scripts/jquery-1.10.2.js' %}"></script>
    <script src="{ static 'app/scripts/bootstrap.js' %}"></script>
    <script src="{ static 'app/scripts/modernizr-2.6.2.js' %}"></script>
    <script src="{ static 'app/scripts/respond.js' %}"></script>
    -->
    <link rel="stylesheet" type="text/css" href="{% static 'app/content/site.css' %}" />
</head>

<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a href="/" class="navbar-brand">TeamFnd</a>
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li><a href="{% url 'home' %}">{% trans "Главная" %}</a></li>
                    <li><a href="{% url 'players' %}">{% trans "Игроки" %}</a></li>
                    <li><a href="{% url 'teams' %}">{% trans "Команды" %}</a></li>
                    <li><a href="{% url 'help' %}">FAQ</a></li>
                    <li><a onclick="changeLang('{{ LANGUAGE_CODE }}');" href="">{{ LANGUAGE_CODE|upper }}</a></li>
                    <script type="application/javascript">
                        function changeLang(lang) {
                            if (lang == 'en') {
                                document.cookie = 'django_language=ru';
                            } else {
                                document.cookie = 'django_language=en';
                            }
                        }
                    </script>
                </ul>
                <!--{ include 'app/loginpartial.html' %}-->
            </div>
        </div>
    </div>

    <div class="container body-content">
{% block content %}{% endblock %}
        <hr class="col-md-12"/>
        <footer>
            <p class="col-md-12">&copy; {% now "Y" %} - <a href="mailto:teamfnd@teamfnd.ru">TeamFnd</a> </p>
        </footer>
    </div>
{% block scripts %}
{% endblock %}

</body>
</html>
