{% load cache %}
{% load i18n %}
{% if user.is_authenticated %}
<form id="logoutForm" action="/logout" method="post" class="navbar-right">
    {% csrf_token %}
    {% cache 600 usersidebar %}
    <ul class="nav navbar-nav navbar-right">
        <li><span class="navbar-brand">{{ user.social_auth.get.extra_data.player.personaname }}</span></li>
        <li><a href="/myposts">{% trans "Мои объявления" %}</a></li>
        <li><a href="javascript:document.getElementById('logoutForm').submit()">{% trans "Выйти" %}</a></li>
    </ul>
    {% endcache %}
</form>

{% else %}

<ul class="nav navbar-nav navbar-right">
    <li><a href="{% url "social:begin" "steam" %}">{% trans "Войти через SteamID" %}</a></li>
</ul>

{% endif %}