{% extends "app/layout.html" %}

{% block content %}
    <div class="row">
        <div class="span9"><h1>Команды</h1></div>
        <div class="span9"><a class="btn btn-default" href="/addteam">Добавить команду</a></div>
        <p> </p>
    </div>
    <div class="row">
            {% for i in teams %}
                <div class="col-md-4">
                <div class="alert alert-info" align="center">
                    <img class="img-circle" alt="{{ i.name }} image" src="" width="90" height="90">
                    <p>&#0160;</p>
                    <h4>{{ i.name }}</h4>
                    <p>
                        {{ i.description }}
                    </p>
                    <p><a class="btn btn-default" href="{{ i.team_url }}">Подробнее &raquo;</a></p>
                </div></div>
            {% endfor %}
    </div>
{% endblock %}