{% extends "app/layout.html" %}

{% block content %}
    <div class="row">
        <div class="span9"><h1>Команды</h1></div>
        <div class="span9"><a class="btn btn-default" href="/addteam">Добавить команду</a></div>
        <p> </p>
    </div>
    <div class="row">
            {% for i in teams %}
                <div class="col-md-4">
                <div class="alert alert-info" align="center">
                    <img class="img-circle" alt="{{ i.name }} image" src="{{ i.image }}" width="90" height="90">
                    <p>&#0160;</p>
                    <h4>{{ i.name }}</h4>
                    <p>
                        {{ i.description }}
                    </p>
                    <p><a class="btn btn-default" href="https://steamcommunity.com/gid/{{ i.team_url }}">Подробнее &raquo;</a></p>
                </div></div>
            {% endfor %}
    </div>
    <div align="center"><h2><a href="/teams"><<</a> <a href="/teams/?n={% if nb < 0 %}0{% else %}{{ nb }}{% endif %}&e={% if eb <= 0 %}20{% else %}{{ eb }}{% endif %}"><</a> {{ n }} - {{ e }} <a href="/teams/?n={{ nn }}&e={{ en }}">></a> <a href="/teams/?n={% if ne < 0 %}0{% else %}{{ ne }}{% endif %}&e={{ count }}">>></a></h2></div>
{% endblock %}