{% for i in teams %}
                <div class="col-md-3">
                <div class="panel panel-default panel-body" align="center">
                    <img class="img-rounded" alt="{{ i.name }} image" src="{{ i.image }}" width="90" height="90">
                    <p>&#0160;</p>
                    <h4>{{ i.name }}</h4>
                    <p> </p>
                    <p>Основана: {{ i.founded }}</p>
                    {% for foo in ranks %}
                        {% if i.min_rank == foo.0 %}
                            <p>От: {{ foo.1 }}</p>
                        {% elif i.max_rank == foo.0 %}
                            <p>До: {{ foo.1 }}</p>
                        {% endif %}
                    {% endfor %}
                    <p>{% if i.is_mm %}<div style="color: green">&#9989;{% else %}<div style="color: darkred">&#10006;{% endif %}{{ is_mm }}</div></p>
                    <p>{% if i.is_pu %}<div style="color: green">&#9989;{% else %}<div style="color: darkred">&#10006;{% endif %}{{ is_pu }}</div></p>
                    <p>{% if i.is_le %}<div style="color: green">&#9989;{% else %}<div style="color: darkred">&#10006;{% endif %}{{ is_le }}</div></p>
                    <p>{% if i.is_ca %}<div style="color: green">&#9989;{% else %}<div style="color: darkred">&#10006;{% endif %}{{ is_ca }}</div></p>
                    <p>
                        {% if i.need_awp %}<img title="авапер" alt="need awp" src="/static/app/content/awp.png" width="32" height="32" />{%endif%}
                        {% if i.need_luk %}<img title="люрк" alt="need lurker" src="/static/app/content/luk.png" width="32" height="32" />{%endif%}
                        {% if i.need_rif %}<img title="рифлер" alt="need rifler" src="/static/app/content/rif.png" width="32" height="32" />{%endif%}
                        {% if i.need_sup %}<img title="саппорт" alt="need support" src="/static/app/content/sup.png" width="32" height="32" />{%endif%}
                        {% if i.need_igl %}<img title="капитан" alt="need igl" src="/static/app/content/igl.png" width="32" height="32" />{%endif%}
                        {% if i.need_frg %}<img title="фрагер" alt="need fragger" src="/static/app/content/frg.png" width="32" height="32" />{%endif%}
                    </p>
                    <p><a class="btn btn-default" href="/viewteam?id={{ i.id }}">Подробнее &raquo;</a></p>
                </div></div>
    {% empty %}
    <div class="col-md-12">
                <div class="panel panel-warning" align="center" id="pls_stp">
                    <h4>Больше нет команд</h4>
                </div></div>
{% endfor %}