{% extends "app/layout.html" %}
{% block scripts %}
<script type="text/javascript">
var n = 0;
var step = 9;
var e = n+step;
$(document).ready(function(){
    ajax(n, e);
    n += step;
    e += step;
});

$(window).scroll(function(){
    if (($(window).scrollTop() == $(document).height() - $(window).height() | $(window).scrollTop() == $(document).height() - $(window).height() - 1000 | $(window).scrollTop() == $(document).height() - $(window).height() - 100) && !$("#pls_stp").length) {
        ajax(n,e);
        n += step;
        e += step;
     }
     if ($(this).scrollTop() > 50) {
         $('#back-to-top').fadeIn();
     } else {
         $('#back-to-top').fadeOut();
     }
});

$('#back-to-top').click(function () {
    $('#back-to-top').tooltip('hide');
    $('body,html').animate({
        scrollTop: 0
    }, 800);
    return false;
});

$('#back-to-top').tooltip('show');

function ajax(n, e) {
    $.ajax({
        type: "GET",
        url: "/teamd/?n=" + n + "&e=" + e,
        success: function (data) {
            $("#nain").append(data);
        }
        }
    );
}

function getMore() {
        ajax(n,e);
        n += step;
        e += step;
}
var ranks = ['UN', 'S1', 'S2', 'S3', 'S4', 'S5', 'S6', 'N1', 'N2', 'N3', 'N4', 'M1', 'M2', 'M3', 'M4', 'L1', 'L2', 'SM', 'GE'];
function cookiegen(min_rank, max_rank) {
    var ex = 0;
    for (var i = 0; i < ranks.length; i++) {
        if (ranks[i] == min_rank) { ex = 1; document.cookie = 'min_rank='+i; }
        if (ex) { document.cookie = 'ex_'+ranks[i]+'=0'; }
        else { document.cookie = 'ex_'+ranks[i]+'=1'; }
        if (ranks[i] == max_rank) { ex = 0; document.cookie = 'max_rank='+i; }
    }
}
function getCookie(name) {
  var value = "; " + document.cookie;
  var parts = value.split("; " + name + "=");
  if (parts.length == 2) return parts.pop().split(";").shift();
}
    function parseBool(str) {
        if (str == "false") return false;
        if (str == "true") return true;
    }
 function show_1() {
     $("#test").hide();
     $("#untest").show();
     if (document.cookie.search('show_mm=3')!=-1) {
         document.getElementById('id_mm').selectedIndex = 0
     }
     if (document.cookie.search('show_pu=3')!=-1) {
         document.getElementById('id_pu').selectedIndex = 0
     }
     if (document.cookie.search('show_le=3')!=-1) {
         document.getElementById('id_le').selectedIndex = 0
     }
     if (document.cookie.search('show_ca=3')!=-1) {
         document.getElementById('id_ca').selectedIndex = 0
     }

     if (document.cookie.search('show_mm=0')!=-1) {
         document.getElementById('id_mm').selectedIndex = 1
     }
     if (document.cookie.search('show_pu=0')!=-1) {
         document.getElementById('id_pu').selectedIndex = 1
     }
     if (document.cookie.search('show_le=0')!=-1) {
         document.getElementById('id_le').selectedIndex = 1
     }
     if (document.cookie.search('show_ca=0')!=-1) {
         document.getElementById('id_ca').selectedIndex = 1
     }

     if (document.cookie.search('show_mm=1')!=-1) {
         document.getElementById('id_mm').selectedIndex = 2
     }
     if (document.cookie.search('show_pu=1')!=-1) {
         document.getElementById('id_pu').selectedIndex = 2
     }
     if (document.cookie.search('show_le=1')!=-1) {
         document.getElementById('id_le').selectedIndex = 2
     }
     if (document.cookie.search('show_ca=1')!=-1) {
         document.getElementById('id_ca').selectedIndex = 2
     }
     
     if (getCookie('need_awp') != undefined) $("#need_awp")[0].checked = parseBool(getCookie('need_awp'));
     if (getCookie('need_luk') != undefined) $("#need_luk")[0].checked = parseBool(getCookie('need_luk'));
     if (getCookie('need_rif') != undefined) $("#need_rif")[0].checked = parseBool(getCookie('need_rif'));
     if (getCookie('need_igl') != undefined) $("#need_igl")[0].checked = parseBool(getCookie('need_igl'));
     if (getCookie('need_sup') != undefined) $("#need_sup")[0].checked = parseBool(getCookie('need_sup'));
     if (getCookie('need_frg') != undefined) $("#need_frg")[0].checked = parseBool(getCookie('need_frg'));

     if (getCookie('min_rank') != undefined) document.getElementById('id_min_rank').selectedIndex = getCookie('min_rank');
     if (getCookie('max_rank') != undefined) document.getElementById('id_max_rank').selectedIndex = getCookie('max_rank');
     $("#sho").slideDown();
 }
 function hide_1() {
     $("#sho").slideUp();
     $("#untest").hide();
     $("#test").show();
 }
 function showDesc(id) {
    $("#show-" + id).hide();
    $("#body-" + id).show();
    $("#hide-" + id).show();
 }
 function hideDesc(id) {
    $("#body-" + id).hide();
    $("#hide-" + id).hide();
    $("#show-" + id).show();
 }
 function prim() {
     $("#sho").slideUp();
     var bb = document.getElementById('id_mm').options[document.getElementById('id_mm').selectedIndex].value;
     if (bb=='3') { document.cookie = 'show_mm=3';}
     if (bb=='1') { document.cookie = 'show_mm=1';}
     if (bb=='0') { document.cookie = 'show_mm=0';}
     bb = document.getElementById('id_pu').options[document.getElementById('id_pu').selectedIndex].value;
     if (bb=='3') { document.cookie = 'show_pu=3';}
     if (bb=='1') { document.cookie = 'show_pu=1';}
     if (bb=='0') { document.cookie = 'show_pu=0';}
     bb = document.getElementById('id_le').options[document.getElementById('id_le').selectedIndex].value;
     if (bb=='3') { document.cookie = 'show_le=3';}
     if (bb=='1') { document.cookie = 'show_le=1';}
     if (bb=='0') { document.cookie = 'show_le=0';}
     bb = document.getElementById('id_ca').options[document.getElementById('id_ca').selectedIndex].value;
     if (bb=='3') { document.cookie = 'show_ca=3';}
     if (bb=='1') { document.cookie = 'show_ca=1';}
     if (bb=='0') { document.cookie = 'show_ca=0';}
     cookiegen(document.getElementById('id_min_rank').options[document.getElementById('id_min_rank').selectedIndex].value,
     document.getElementById('id_max_rank').options[document.getElementById('id_max_rank').selectedIndex].value);
     document.cookie = 'need_awp=' + $("#need_awp")[0].checked;
    document.cookie = 'need_luk=' + $("#need_luk")[0].checked;
    document.cookie = 'need_rif=' + $("#need_rif")[0].checked;
    document.cookie = 'need_igl=' + $("#need_igl")[0].checked;
    document.cookie = 'need_sup=' + $("#need_sup")[0].checked;
    document.cookie = 'need_frg=' + $("#need_frg")[0].checked;
     $("#untest").hide();
     $("#test").show();
 }
 function sbros() {
     document.cookie = 'show_mm=3';
     document.cookie = 'show_pu=3';
     document.cookie = 'show_le=3';
     document.cookie = 'show_ca=3';
     document.cookie = 'need_awp=false';
    document.cookie = 'need_luk=false';
    document.cookie = 'need_rif=false';
    document.cookie = 'need_igl=false';
    document.cookie = 'need_sup=false';
    document.cookie = 'need_frg=false';
     cookiegen('UN', 'GE');
     $("#sho").slideUp();
     $("#untest").hide();
     $("#test").show();
 }
</script>
{% endblock %}

{% block content %}
    <div style="display: inline;">
        <h1>Команды</h1>
        <div id="test"><a class="btn btn-default" onclick="show_1()">Параметры поиска</a></div>
        <div id="untest" style="display: none;"><a class="btn btn-danger" onclick="hide_1()">Закрыть</a></div>
        <p> </p>
        <div id="sho" style="display: none;">
            <div class="form-group">
                    <label class="control-label " for="id_mm">{{ is_mm }}</label>
                    <div class=" ">
                    <select class=" form-control" id="id_mm" name="mm">
                        <option value="3" selected="selected">Без разницы</option>
                        <option value="0">Нет</option>
                        <option value="1">Да</option>
                    </select>
                    </div>
            </div>
            <div class="form-group">
                    <label class="control-label " for="id_pu">{{ is_pu }}</label>
                    <div class=" ">
                    <select class=" form-control" id="id_pu" name="pu">
                        <option value="3" selected="selected">Без разницы</option>
                        <option value="0">Нет</option>
                        <option value="1">Да</option>
                    </select>
                    </div>
            </div>
            <div class="form-group">
                    <label class="control-label " for="id_le">{{ is_le }}</label>
                    <div class=" ">
                    <select class=" form-control" id="id_le" name="le">
                        <option value="3" selected="selected">Без разницы</option>
                        <option value="0">Нет</option>
                        <option value="1">Да</option>
                    </select>
                    </div>
            </div>
            <div class="form-group">
                    <label class="control-label " for="id_ca">{{ is_ca }}</label>
                    <div class=" ">
                    <select class=" form-control" id="id_ca" name="ca">
                        <option value="3" selected="selected">Без разницы</option>
                        <option value="0">Нет</option>
                        <option value="1">Да</option>
                    </select>
                    </div>
            </div>
            <label class="control-label">Требуемые роли</label>
            <div class="checkbox">
                    <label >
                        <input id="need_awp" type="checkbox" /> <span>{{gamers.AWP}}</span>
                    </label>
            </div>
            <div class="checkbox">
                    <label >
                        <input id="need_luk" type="checkbox" /> <span>{{gamers.LUK}}</span>
                    </label>
            </div>
            <div class="checkbox">
                    <label >
                        <input id="need_rif" type="checkbox" /> <span>{{gamers.RIF}}</span>
                    </label>
            </div>
            <div class="checkbox">
                    <label >
                        <input id="need_igl" type="checkbox" /> <span>{{gamers.IGL}}</span>
                    </label>
            </div>
            <div class="checkbox">
                    <label >
                        <input id="need_sup" type="checkbox" /> <span>{{gamers.SUP}}</span>
                    </label>
            </div>
            <div class="checkbox">
                    <label >
                        <input id="need_frg" type="checkbox" /> <span>{{gamers.FRG}}</span>
                    </label>
            </div>
            <div class="form-group">
                    <label class="control-label " for="id_min_rank">Минимальный ранг</label>
                    <div class=" ">
                    <select class=" form-control" id="id_min_rank" name="min_rank" required="">
                        <option value="UN" selected="selected">Без ранга</option>
                        <option value="S1">Сильвер 1</option>
                        <option value="S2">Сильвер 2</option>
                        <option value="S3">Сильвер 3</option>
                        <option value="S4">Сильвер 4</option>
                        <option value="S5">Сильвер Элита</option>
                        <option value="S6">Сильвер Великий Магистр</option>
                        <option value="N1">Золотая Звезда 1</option>
                        <option value="N2">Золотая Звезда 2</option>
                        <option value="N3">Золотая Звезда 3</option>
                        <option value="N4">Золотая Звезда Магистр</option>
                        <option value="M1">Магистр Хранитель 1</option>
                        <option value="M2">Магистр Хранитель 2</option>
                        <option value="M3">Магистр Хранитель Элита</option>
                        <option value="M4">Заслуженный Магистр Хранитель</option>
                        <option value="L1">Легендарный Беркут</option>
                        <option value="L2">Легендарный Беркут Магистр</option>
                        <option value="SM">Великий Магистр Высшего Ранга</option>
                        <option value="GE">Всемирная Элита</option>
                    </select>
                    </div>
            </div>
            <div class="form-group">
                    <label class="control-label " for="id_max_rank">Максимальный ранг</label>
                    <div class=" ">
                    <select class=" form-control" id="id_max_rank" name="max_rank" required="">
                        <option value="UN">Без ранга</option>
                        <option value="S1">Сильвер 1</option>
                        <option value="S2">Сильвер 2</option>
                        <option value="S3">Сильвер 3</option>
                        <option value="S4">Сильвер 4</option>
                        <option value="S5">Сильвер Элита</option>
                        <option value="S6">Сильвер Великий Магистр</option>
                        <option value="N1">Золотая Звезда 1</option>
                        <option value="N2">Золотая Звезда 2</option>
                        <option value="N3">Золотая Звезда 3</option>
                        <option value="N4">Золотая Звезда Магистр</option>
                        <option value="M1">Магистр Хранитель 1</option>
                        <option value="M2">Магистр Хранитель 2</option>
                        <option value="M3">Магистр Хранитель Элита</option>
                        <option value="M4">Заслуженный Магистр Хранитель</option>
                        <option value="L1">Легендарный Беркут</option>
                        <option value="L2">Легендарный Беркут Магистр</option>
                        <option value="SM">Великий Магистр Высшего Ранга</option>
                        <option value="GE" selected="selected">Всемирная Элита</option>
                    </select>
                    </div>
            </div>
            <a class="btn btn-danger" onclick="hide_1()">Закрыть</a> <a class="btn btn-info" onclick="prim()" href="">Применить</a> <a class="btn btn-default" onclick="sbros()" href="">Сброс</a>
        </div>
        <a class="btn btn-default" href="/addteam">Добавить команду</a>
        <p> </p>
    </div>
    <div class="row" id="nain"></div>
    <button class="btn btn-default" onclick="getMore()">Загрузить ещё</button>
    <a id="back-to-top" href="#" class="btn btn-default btn-lg back-to-top" role="button" title="Нажмите чтобы перейти к началу страницы" data-toggle="tooltip" data-placement="left"><span class="glyphicon glyphicon-chevron-up"></span></a>
{% endblock %}