{% extends "app/layout.html" %}
{% load i18n %}
{% block content %}
    <div style="padding-top: 30px">
        <div class="col-md-3" align="center">
            {% if team.image != '' %}
                    <img class="img-rounded" alt="{{ team.name }} image" src="{{ team.image.url }}" width="180" height="180">
                {% else %}
                <img class="img-rounded" alt="{{ team.name }} image" src="/static/app/content/noimage.png" width="180" height="180">
                {% endif %}
        </div>
        <div class="col-md-9" align="center">
            <h3>{{ team.name }}</h3>
            <p>{% trans "Основана" %}: {{ team.founded }}</p>
        </div>
        <div class="col-md-9 panel panel-default panel-body">
            <p style="font-size: 20px">{{ team.description|linebreaks|urlize }}</p>
            <p>Ссылка: <a href="{{ team.team_url }}">{{ team.team_url }}</a></p>
        </div>
    </div>
    <p class="col-md-12"> </p>
{% endblock %}
